<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css" />
    <!-- Link ke file styles.css -->
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Beranda</a></li>
          <li><a href="/upload">Uploads</a></li>

          <!-- Link ke Beranda -->
          <% if (loggedIn) { %>
          <!-- Jika user sudah login -->
          <li><a href="/profile">Profile</a></li>
          <!-- Link Profile -->
          <li><a href="/logout">Logout</a></li>
          <!-- Link Logout -->

          <!-- Menampilkan Nama User -->
          <% } else { %>
          <!-- Jika user belum login -->
          <li><a href="/login">Login</a></li>
          <li><a href="/signup">Daftar</a></li>
          <% } %>
        </ul>
      </nav>
    </header>

    <h1>Selamat datang di <%= title %></h1>

    <% if (loggedIn) { %>
    <p>Halo, <%= namaLengkap %>!</p>
    <% } else { %>
    <p>Halo, Silahkan Login atau Daftar</p>
    <% } %>
  </body>
</html>
